


body{
    margin: 0;
    padding: 0;


}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}
/*Header part*/
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;

    background: linear-gradient(90deg, #8A2BE2, #483D8B);
    background-size: 300% 300%;
    animation: change 3s infinite ease-in-out;


}

.header h1{
    font-family: 'Rubik Mono One', sans-serif;
}

@keyframes change {
    0%{background-position: 0 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0 50%}
}
/*Users part*/
.users-block{
    background-color: #fff;
    width: 80%;
    height: 80vh;
   display: flex;
    flex-direction: column;
    font-family: 'Rubik Mono One', sans-serif;
}

.btn-post:hover{
    color: orange;
    background-color: blueviolet;
    border-color: blueviolet;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,1);
    border-radius: 5px;
}


.user-info{
    font-family: 'Rubik Mono One', sans-serif;
    width: 100%;
    height: 50%;
}


.user-posts-title{
    font-family: 'Rubik Mono One', sans-serif;
    height: 50%;
    width: 100%;
}







.user-posts-title button{
    width: 90%;
}












/*Footer part*/
.footer{
    background-color: blueviolet;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    text-decoration: none;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
}
.back:hover{
    color: orange;
}
.footer i{
    /*width: 20px;*/
    /*height: 20px;*/
    /*color: black;*/

    rotate: 180deg;
    color: white;
}